{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h3 class="text-center">Gerenciar Grupos</h3>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome do Grupo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for grupo in grupos %}
            <tr>
                <td>{{ grupo.id }}</td>
                <td>{{ grupo.name }}</td>
                <td>
                    <a href="{% url 'editar_grupo' grupo.id %}" class="btn btn-primary btn-sm">Editar Permissões</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
